---
export const prerender = true;

export const getStaticPaths = function languageGetStaticPaths() {
  return [
    {
      params: {
        lang: `en`,
      },
    },
    {
      params: {
        lang: `pt`,
      },
    },
  ];
};

const { lang } = Astro.params;
---

<a href="/">Back</a>

<h1>Language "{lang}"</h1>
