---
export const prerender = true;

export const getStaticPaths = function languageGetStaticPaths() {
  return [
    {
      params: {
        lang: `en`,
      },
    },
    {
      params: {
        lang: `pt`,
      },
    },
  ];
};
---

<h1>hoi</h1>
